/* 组件适配1---Message 消息提示 */
@media screen and (max-width: 500px) {
    .el-message {
      min-width: 300px !important;
    }
}
/* 组件适配2---MessageBox 弹框 */
@media screen and (max-width: 500px) {
    .el-message-box{
      width: 300px !important;
    }
}
/* 组件适配3---Dialog 对话框 */
@media screen and (max-width: 500px) {
    .el-dialog__wrapper .el-dialog {
       width: 300px !important;
       .el-dialog__body{
         padding: 10px 20px!important;
         .el-form-item__label{
           width: 68px!important;
         }
         .el-select,.el-input{
           width: 180px!important;
         }
       }
     }
 }
 .el-message{ top: 0.5rem; padding: 10px 10px 10px 12px}
